form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 2vw 2vw;
	box-sizing: border-box;
}

.button-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.btn-secondary {
	display: none;
}
